.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 15px;

    label {
      display: block;
      margin-bottom: 5px;
    }

    input.form-control {
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-sizing: border-box; /* Asegura que padding no afecte el ancho total */
    }

    input.form-control.is-invalid {
      border-color: #dc3545;
    }

    .invalid-feedback {
      color: #dc3545;
      font-size: 0.875em;
      margin-top: 5px;
    }
  }

  .btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;

    &:disabled {
      background-color: #6c757d;
      border-color: #6c757d;
    }

    .spinner-border {
      margin-right: 5px;
    }
  }

  .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
  }
}